/* banner style */

.header {
    background-image: url(../images/banner/banner2.png);
    url(top-view-abstract-assortment-with-innovation-elements.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    display: flex;
    align-items: center;
    margin: 0 250px;
    padding-top: 80px;
}

.banner-title {
    font-size: 60px;
    color: #151414;
    font-weight: 800px;
    margin-right: 400px;
    
}

.banner-sub-title {
    font-size: 18px;
    color:rgb(255, 20, 20);
    margin-right: 400px;
}

.banner-btn {
    color: aliceblue;
    padding: 18px 35px;
    font-size: 20px;
    border: 0;
    height: 64px;
    border-radius: 5px;
    background: crimson;
    margin-top: 30px;

    
}

/* main style */

.previous-title {
    display: flex;
    margin-top: 130px;
    margin-left: 150px;
    margin-right: 300px;
}

.previous-source {}

.form-item {
    margin-left: 70px;

}

input[type=checkbox]+label {
    display: block;

}

input[type=checkbox] {
    display: none;

}

input[type=checkbox]+label::before {
    content: "\2714";
    color: crimson;

}


.previous-sub-title {
    font-size: 40px;
    text-align: left;
    margin-left: 60px;
    margin-top: 230px;
    color: black;

}

.previous-contain {
    font-size: 16px;
    text-align: left;
    margin-left: 60px;
    color: #444343;
    margin-top: 20px;

}

.previous-description {
    font-size: 16px;
    text-align: left;
    margin-left: 45px;
    margin-top: 16px;
    color: #444343;

}

/* plan style */

.plan {
    margin-top: 130px;
    font-size: 40px;
    text-align: center;
    color: black;
}

.plan-info {

    padding: 30px;
    border-radius: 20px;
}

.plan-container {
    display: flex;
    margin-top: 30px;
    margin-left: 250px;
    margin-right: 200px;
    gap: 50px;
    margin-bottom: 50px;

}

.plan-sub-title {
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: 700;


}

.plan-description {
    font-size: 15px;

    color: #737272;

}

.what-i-do {
    margin-top: 130px;
}

.section-titles {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 35px;
}

.skills-container {
    display: flex;
    gap: 24px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
}

.skills {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skills-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;

}

.skills-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.skills-titles {
    margin-bottom: 80px;
    font-size: 18px;
    text-align: center;
    color: #757575;
    margin-left: 300px;
    margin-right: 300px;
}

.keep {
    margin-top: 700px;
    margin-bottom: 100px;
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 230px;
    border-radius: 7px;
    width: 1140px;
    height: 300px;
    margin-top: 230px;
    background-size: 900px 250px;
    background-position: 200px 0px;
    
}
.keep-title{
    margin-left: 280px;
    padding: 30px;
    background-image: linear-gradient(red yellow);

}
.keep-sub-title{
    font-size: 40px;
    color:darkblue
    
}
.keep-description{
    color: aliceblue;
    padding: 18px 35px;
    font-size: 20px;
    border: 0;
    height: 64px;
    border-radius: 5px;
    background: crimson;
    

}

.footer {
    display: flex;
    gap: 100px;
    padding: 130px 200px;
    background: url(../images/jb.png);
    background-size: cover;
}

.footer-title {
    font-size: 40px;
    color: #FFFFFF;
}

.footer-sub-title {
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 250px;
}

.footer a {
    text-decoration: none;
    gap: 100px;
}

.icon-title {
    font-size: 27px;
    color: #FFFFFF;
}

.icon-contain {
    border: 0;
    padding: 18px 35px;
    font-size: 17px;
    height: 24px;
    border-radius: 5px;
    color: #F3F3F3;
    background-color: #181818;

}

.icon-description {
    color: aliceblue;
    padding: 18px 35px;
    font-size: 20px;
    border: 0;
    height: 64px;
    border-radius: 5px;
    background: crimson;
    margin-top: 30px;

}